* {
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
}

body {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/2v/hq/p02vhq1v.jpg");
}

.searchButton {
	margin-bottom: 10px;
	background-color: #A4243B;
	color: #EBDAC6;
	padding: 10px;
	font-size: 12px;
	cursor: pointer;
	width: 60px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #A4243B;
  color: #EBDAC6;
  padding: 7px;
  font-size: 12px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: black;
	z-index: 2;
}

.searchButton:hover, .searchButton:focus {
  background-color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
	padding-bottom: 10px;
	z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EBDAC6;
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {color: #A4243B;	background-color: black;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#map {
	border: 20px solid transparent;
  -webkit-border-image: url(blackthin.PNG) 30 stretch; /* Safari 3.1-5 */
  -o-border-image: url(blackthin.PNG) 30 stretch; /* Opera 11-12.1 */
  border-image: url(blackthin.PNG) 30 stretch;
  float: left;
}


.title {
	color: #EBDAC6;
	/*text-shadow: 3px 3px #EBDAC6;*/
	text-align: center;
	font-size: 4em;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
	font-weight: bold;
}

.pushinfo {
	color: #A4243B;
	font-size: 25px;
	text-shadow: 0.5px 0.5px #EBDAC6;
}

.js-start {
	text-align: center;
}

.mapinfo {
	background-color: #A4243B;
	float: right;
	border: solid #cdb79e 3px;
	color: #EBDAC6;
	padding: 8px;
}
.clearfix {
  clear:both
}

.js_gallery_name {
	text-align: center;
	font-style: bold;
	font-size: 30px;
	padding-top: 10px;
}

.js_gallery_address {
	padding-top: 10px;
	font-size: 25px;
	text-align: left;
}

select {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	margin: 0;
	font: inherit;
	outline:none; /* remove focus ring from Webkit */
	line-height: 1.2;
	background: #000;
	color: #EBDAC6;
	border:0;
	width: 135px;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #8EB8E5;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}

.directions {
	display: block;
	margin: auto;
	margin-top: 10px;
	background-color: #A4243B;
	color: #EBDAC6;
	padding: 10px;
	font-size: 12px;
	cursor: pointer;
	width: 100px;
}

.directions:hover, .directions:focus {
	background-color: black;
}

.showUp {
	background-color: #EBDAC6;
	color: black;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid #cdb79e 3px;

}

.listUp {
	margin-left: 20px;
	padding-bottom: 5px;
}

.oneItem {
	padding-top: 5px;
}

.startBox {
	padding-top: 20px;
	text-align: center;
	font-size: 2em;
}
