* {
	font-family: 'Cabin', sans-serif;
	box-sizing: border-box;
}

.searchButton {
	margin-bottom: 10px;
}

#map {
	height: 400px;
	width: 75%;
	border: 20px solid transparent;
    -webkit-border-image: url(blackthin.PNG) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(blackthin.PNG) 30 stretch; /* Opera 11-12.1 */
    border-image: url(blackthin.PNG) 30 stretch;
    float: left;
}

body {
	background-image: url("http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/2v/hq/p02vhq1v.jpg");
}

h1 {
	color: #A12F5E;
	text-shadow: 3px 3px #eed5b7;
	text-align: center;
}

.pushinfo {
	text-shadow: 2px 2px #eed5b7;
}

.js-start {
	text-align: center;
}

.mapinfo, .mapbox {
}

.mapinfo {
	height: 400px;
	width:25%;
	background-color: #A12F5E;
	float: right;
	border: solid #cdb79e 3px;
	color: #eed5b7;
	padding: 8px;
}
.clearfix {
    clear:both
}

.js_gallery_name {
	text-align: center;
}

.js_gallery_address {
	font-style: bold;
	font-size: 25px;
}
