* {
	font-family: 'Cabin', sans-serif;
}

.searchButton {
	margin-bottom: 10px;
}

#map {
	height: 400px;
	width: 97%;
	border: 20px solid transparent;
    -webkit-border-image: url(blackthin.PNG) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(blackthin.PNG) 30 stretch; /* Opera 11-12.1 */
    border-image: url(blackthin.PNG) 30 stretch;
}

body {
	background-image: url("http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/2v/hq/p02vhq1v.jpg");
}

h1 {
	color: #A12F5E;
	text-shadow: 3px 3px white;
	text-align: center;
}

p {
	text-shadow: 2px 2px white;
}

.js-start {
	text-align: center;
}
